In [20]:
import pandas as pd
import numpy as np



business_df = pd.read_csv('./data/yelp-dataset/data_CSV/Restaurant_business.csv')
reviews_df  = pd.read_csv('./data/yelp-dataset/data_CSV/review_compressed.csv')
#print(business_df['review_count'].max())
business_with_reviews = pd.merge(business_df,reviews_df,on='business_id',how='outer')

In [21]:
business_and_reviews =business_with_reviews[['business_id','stars_y','name','text','date','user_id']]

In [22]:
business_and_reviews['year'] = 4000
for index,row in business_and_reviews.iterrows():
    date=str(row['date'])
    business_and_reviews.at[index,'year'] = int(date[0:4])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [23]:
users_df = pd.read_csv('./data/yelp-dataset/data_CSV/user_with_Impact.csv')
users_df.columns.values

array(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'user_id', 'name',
       'review_count', 'yelping_since', 'useful', 'funny', 'cool',
       'elite', 'friends', 'fans', 'average_stars', 'compliment_hot',
       'compliment_more', 'compliment_profile', 'compliment_cute',
       'compliment_list', 'compliment_note', 'compliment_plain',
       'compliment_cool', 'compliment_funny', 'compliment_writer',
       'compliment_photos', 'Impact_Score', 'Normalized_Impact_Score'],
      dtype=object)

In [24]:
 buss_with_rev_user_im = pd.merge(business_and_reviews,users_df,on='user_id',how='outer')

In [25]:
buss_with_rev_user_im.columns.values

array(['business_id', 'stars_y', 'name_x', 'text', 'date', 'user_id',
       'year', 'Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'name_y',
       'review_count', 'yelping_since', 'useful', 'funny', 'cool',
       'elite', 'friends', 'fans', 'average_stars', 'compliment_hot',
       'compliment_more', 'compliment_profile', 'compliment_cute',
       'compliment_list', 'compliment_note', 'compliment_plain',
       'compliment_cool', 'compliment_funny', 'compliment_writer',
       'compliment_photos', 'Impact_Score', 'Normalized_Impact_Score'],
      dtype=object)

In [26]:
buss_with_rev_user_im=buss_with_rev_user_im[['business_id','name_x','stars_y','text','year','user_id','Normalized_Impact_Score']]

In [27]:
buss_with_rev_user_im=buss_with_rev_user_im[buss_with_rev_user_im['year'] > 2010]

In [28]:
buss_with_rev_user_im=buss_with_rev_user_im[buss_with_rev_user_im['year'] < 2019]

In [29]:
buss_with_rev_user_im.columns.values

array(['business_id', 'name_x', 'stars_y', 'text', 'year', 'user_id',
       'Normalized_Impact_Score'], dtype=object)

In [30]:
import pandas as pd


rest_business_df = pd.read_csv('./data/yelp-dataset/data_CSV/weighted_avg.csv')

In [31]:
rest_business_df=rest_business_df[9523:]
rest_business_df.shape

(11986, 10)

In [33]:
rest_business_df['2011']=0.0
rest_business_df['2012']=0.0
rest_business_df['2013']=0.0
rest_business_df['2014']=0.0
rest_business_df['2015']=0.0
rest_business_df['2016']=0.0
rest_business_df['2017']=0.0
rest_business_df['2018']=0.0


for index, row in rest_business_df.iterrows():
    df_curr=buss_with_rev_user_im[buss_with_rev_user_im['business_id']==row['business_id']]
    for i in range(2011,2019):
        df_curr = df_curr[df_curr['year']==i]
        rest_business_df.at[index,str(i)]=df_curr['stars_y'].mean()

KeyboardInterrupt:

In [ ]:
rest_business_df.to_csv('./data/yelp-dataset/data_CSV/weighted_avg1.csv')

In [14]:
rest_business_df.head()

,Unnamed: 0,Unnamed: 0.1,business_id,name,address,city,state,postal_code,latitude,longitude,...,categories,hours,2011,2012,2013,2014,2015,2016,2017,2018
0,1,1,gnKjwL_1w79qoiV3IC_xQQ,Musashi Japanese Restaurant,"10110 Johnston Rd, Ste 15",Charlotte,NC,28210,35.092564,-80.859132,...,"Sushi Bars, Restaurants, Japanese","{'Monday': '17:30-21:30', 'Wednesday': '17:30-...",5.0,4.0,4.000000,4.00,3.40,5.0,4.80,2.0
1,2,10,1Dfx3zM-rW4n-31KeC8sJg,Taco Bell,2450 E Indian School Rd,Phoenix,AZ,85016,33.495194,-112.028588,...,"Restaurants, Breakfast & Brunch, Mexican, Taco...","{'Monday': '7:0-0:0', 'Tuesday': '7:0-0:0', 'W...",NaN,NaN,4.000000,NaN,NaN,5.0,NaN,NaN
2,4,24,tstimHoMcYbkSC4eBA1wEg,Maria's Mexican Restaurant & Bakery,6055 E Lake Mead Blvd,Las Vegas,NV,89156,36.195615,-115.040529,...,"Mexican, Restaurants, Patisserie/Cake Shop, Fo...","{'Monday': '11:0-21:0', 'Tuesday': '10:0-21:0'...",NaN,5.0,3.833333,4.25,4.75,5.0,3.75,4.5
3,5,34,BvYU3jvGd0TJ7IyZdfiN2Q,Manzetti's Tavern,6401 Morrison Blvd,Charlotte,NC,28211,35.156338,-80.831878,...,"Sandwiches, Italian, American (Traditional), A...","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6,57,_J_x_RaYTqAqAuCwgRhnRQ,Kabob House,6432 E Independence Blvd,Charlotte,NC,28212,35.172028,-80.746801,...,"Coffee & Tea, Hookah Bars, Nightlife, Persian/...","{'Tuesday': '17:30-0:0', 'Wednesday': '17:30-0...",NaN,NaN,NaN,NaN,3.00,NaN,NaN,NaN